.timer {
    display: flex;
    gap: 30px;
}

.field {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.value {
    font-size: 35px;
}

.btn {
    width: 100;
    height: 30px;
    background-color: brown;
    color: azure;
}